@tailwind base;
@tailwind components;
@tailwind utilities;



.img{
    width: 1400px;
    background-image: url(img/bagroundimg.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    margin: 0 auto;
}
.text1{
    width: 40%;
    color: rgb(236, 216, 179);
    margin-top: 11rem;
    margin-left: 2rem;
}
.whatsap{
    margin-left: 50rem;
    margin-top: -3rem;
    position: absolute;
}